html, body {
    height: 100%;
}
  main {
    display: grid;
    grid-template-columns: auto;
    grid: max-content / 100%; 
    grid-template-rows: min-content auto min-content;
    align-items: center;
    transform: translate(0%, 0%);
}

header, footer {
    grid-column: 1 / 2;
    align-items: center;
} 