html, body {
    height: 100%; 
}
  body {
    display: grid;
    grid-template-rows: min-content auto min-content; 
    /* transform: translate(0%, 0%); */
}

main {
    height: 100%;
}

header, footer {
    grid-column: 1 / 2;
    align-items: center;
} 